<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="InsiderE2ETestSuite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="InsiderE2ETests">
        <classes>
            <class name="tests.InsiderE2ETests"/>
        </classes>
    </test>
</suite>
